<!DOCTYPE html>
<html>
	<head>
		<title>Add User</title>
		<link
			rel="stylesheet"
			href="register-login.css"
			type="text/css"
		/>
	</head>
	<body>
		<form
			action="/register"
			method="POST"
			class="container"
		>
			<div class="header">
				<h1>Register</h1>
				<p>Alreday have an account? <a href="./login">Login here</a></p>
			</div>
			<div class="form-inputs">
				<div>
					<label for="name">Full name</label>
					<input
						type="text"
						name="name"
						placeholder="Full name"
						required
					/>
				</div>
				<div>
					<label for="email">Email Address</label>
					<input
						type="email"
						name="email"
						placeholder="Email"
						required
					/>
				</div>
				<div>
					<label for="password">Password</label>
					<input
						type="password"
						name="password"
						placeholder="Password"
						required
					/>
				</div>
			</div>

			<input
				type="text"
				name="latitude"
				id="latitude"
				readonly
				required
				hidden
			/>
			<input
				type="text"
				name="longitude"
				id="longitude"
				readonly
				required
				hidden
			/>
			<p id="location"></p>
			<button type="submit">Register</button>
		</form>
		<script>
			getLocation();

			function getLocation() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(showPosition, showError);
				} else {
					document.getElementById("location").innerHTML =
						"Geolocation is not supported by this browser.";
				}
			}

			function showPosition(position) {
				var latitude = position.coords.latitude;
				var longitude = position.coords.longitude;
				document.getElementById("longitude").value = longitude;
				document.getElementById("latitude").value = latitude;
			}

			function showError(error) {
				switch (error.code) {
					case error.PERMISSION_DENIED:
						document.getElementById("location").innerHTML =
							"User denied the request for Geolocation.";
						break;
					case error.POSITION_UNAVAILABLE:
						document.getElementById("location").innerHTML =
							"Location information is unavailable.";
						break;
					case error.TIMEOUT:
						document.getElementById("location").innerHTML =
							"The request to get user location timed out.";
						break;
					case error.UNKNOWN_ERROR:
						document.getElementById("location").innerHTML =
							"An unknown error occurred.";
						break;
				}
			}
		</script>
	</body>
</html>
