<!DOCTYPE html>
<html>
	<head>
		<title>Register | AOBA</title>
		<link
			rel="stylesheet"
			href="register-login.css"
			type="text/css"
		/>
	</head>
	<body>
		<h3 style="font-weight: bold; text-align: center; margin: 10px 0px">
			AOBA farm weather 👨🏽‍🌾👩🏽‍🌾🚜
		</h3>
		<form class="container">
			<div class="header">
				<h1>Register</h1>
				<p>Alreday have an account? <a href="./login">Login here</a></p>
			</div>
			<div class="form-inputs">
				<div>
					<label for="name">Full name</label>
					<input
						type="text"
						name="name"
						id="name"
						placeholder="Full name"
						required
					/>
				</div>
				<div>
					<label for="email">Email Address</label>
					<input
						type="email"
						name="email"
						id="email"
						placeholder="Email"
						required
					/>
				</div>
				<div>
					<label for="password">Password</label>
					<input
						type="password"
						name="password"
						id="password"
						placeholder="Password"
						required
					/>
				</div>
			</div>

			<input
				type="text"
				name="latitude"
				id="latitude"
				readonly
				required
				hidden
			/>
			<input
				type="text"
				name="longitude"
				id="longitude"
				readonly
				required
				hidden
			/>
			<p id="location"></p>
			<button onclick="register(event)">Register</button>
		</form>
		<script>
			getLocation();

			function register(event) {
				event.preventDefault();

				const email = document.getElementById("email").value;
				const name = document.getElementById("name").value;
				const password = document.getElementById("password").value;
				const latitude = document.getElementById("latitude").value;
				const longitude = document.getElementById("longitude").value;

				fetch("/register", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						name,
						email,
						password,
						latitude,
						longitude,
					}),
				})
					.then((response) => {
						console.log(response);
						if (response.status === 200) {
							return response.json();
						} else {
							throw new Error(`${response.status}`);
						}
					})
					.then((data) => {
						window.location.href = "/register-successful";
					})
					.catch((error) => {
						if (error.toString().includes("403")) {
							alert(
								"This email is already registered to an account, kindly Login."
							);
						} else {
							alert("An erorr has occurred. Please try again later.");
						}
					});
			}

			function getLocation() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(showPosition, showError);
				} else {
					document.getElementById("location").innerHTML =
						"Geolocation is not supported by this browser.";
				}
			}

			function showPosition(position) {
				var latitude = position.coords.latitude;
				var longitude = position.coords.longitude;
				document.getElementById("longitude").value = longitude;
				document.getElementById("latitude").value = latitude;
			}

			function showError(error) {
				switch (error.code) {
					case error.PERMISSION_DENIED:
						document.getElementById("location").innerHTML =
							"User denied the request for Geolocation.";
						break;
					case error.POSITION_UNAVAILABLE:
						document.getElementById("location").innerHTML =
							"Location information is unavailable.";
						break;
					case error.TIMEOUT:
						document.getElementById("location").innerHTML =
							"The request to get user location timed out.";
						break;
					case error.UNKNOWN_ERROR:
						document.getElementById("location").innerHTML =
							"An unknown error occurred.";
						break;
				}
			}
		</script>
	</body>
</html>
